@import '../../style/variables';
@import '../../style/mixin';

.shop {
    padding-top: 15rem;

    &__main {
        padding-left: 3rem;
        min-height: 100vh;
        width: 100%;
    }

    .aside {
        @include position(relative, unset, 0, unset, unset);
        display: inline-block;
        overflow-y: auto;
        height: 100%;
        width: 25rem;
        border-right: $borderDefault;
        background: $whiteColor;
        
        &__item {
            margin-bottom: 2rem;

            .title {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 1.8rem;
                margin-bottom: 1rem;
            }
            
            .list {
                
                &__item {
                    @include transition(all, .2s);
                    color : $textColor;
                    font-size: 1.5rem;
                    padding-bottom: 1rem;
                    font-weight: 500;
                    cursor: pointer;

                    &.active,
                    &:hover {
                        color: $primaryColor;
                        font-size: 1.7em;
                        font-weight: 600;
                    }
                }
            }
        }

        .clear {
            @include position(absolute, 0, unset, 0, unset);
            @include paddingY(.5rem, .5rem);
            background-color:  $buttonColor;
            border-radius: .5rem;

            span,
            svg {

                color : $whiteColor;
            }

            span {
                padding-right: 1rem;
            }
        }
    }
}
