@import "../style/variables";
@import "../style/mixin";

.admin {
    &__header {
        height: 5rem;
        @include flex(row, space-between, center);
    }

    &__logo {
        font-size: 50px;
        font-weight: 700;
        color: $primaryColor;
    }

    &__account {
        font-size: 20px;
        span {
            margin-right: 1rem;
        }
    }

    &__form-title {
        text-align: center;
        color: $primaryColor;
        font-size: 20px;
        font-weight: 600;
    }

    &__btn {
        @include transition(all, 0.3s);
        color: $textColor;
        font-size: 14px;
        font-weight: 700;

        &:hover {
            color: $primaryColor;
        }

        &--accept {
            color: $accept;
        }

        &--reject {
            color: $reject;
        }
    }
}

.popup-overlay {
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.popup-content {
    width: 50%;
    background-color: $whiteColor;
    padding: 3rem 6rem;
}

.ant-tabs {
    margin-top: 3rem !important;

    &-nav-list {
        margin-top: 3rem;
    }
}
